/* Title: CSS JARAK BUTTON & TEKS */
.elementor-button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.elementor-widget-weddingpress-copy-text{
  margin: 10px 0px 0px 0px !important;
}
